<div class="container">
    <ng-include src="'partials/navbar.html'"></ng-include>
    <div class="row pagearea">
    <div class="row-fluid">
        <div class="span12">
            <div class="alert">
                There is a <strong><a href="http://www.kickstarter.com/projects/1615043334/the-way-of-the-tiger-gamebooks-new-collectors-edit">Kickstarter project</a></strong>
                to reproduce the original Way of the Tiger series in hardcover, with new artwork.
                This project is not in any way affiliated with the Kickstarter, which is a
                wonderful concept.<br>
                Please check it out, and back it if you'd like to obtain this wonderful game book
                series with a fresh new look.
            </div>
            <h1>ABOUT THIS GAME</h1>
            <p>Way of the Tiger: Avenger is an old-school choose your own adventure story, in the style of the old
            Fighting Fantasy game books. You play a Ninja, worshipper of Kwon, Supreme Master of Unarmed Combat.
            Trained in the Way of the Tiger, you are now an outstanding master of the martial arts, ready to use
            your deadly skills to overturn evil and to avenge the death of your foster-father, Naijishi.</p>
            <p>Naijishi's assassin has stolen the Scrolls of Kettsuin, a guardian of the secret Word of Power,
            which could imprison Kwon in the Inferno forever, unleashing the forces of evil throughout the World
            of Orb. Your quest is to find the assassin before he reaches the Pillars of Change.</p>
            <h4>PROJECT BACKGROUND</h4>
            <p>This project was started a means for myself to learn JavaScript and
            <a href="http://angularjs.org/" target="_blank">AngularJS</a> to implement an interesting
            project, namely an old-school choose-your-own-adventure book from my childhood. I found this book
            on the shelf in a holiday house around the age of twelve, and proceeded to read it to destruction.
            I knew the result of every choice by heart, and probably played it through a hundred times. I hit
            on the idea of converting the story to an interactive web application while hunting for an idea to
            learn AngularJS in greater detail.</p>
            <h4>COPYRIGHT STATEMENT</h4>
            <p>This is a fan project based upon a copyrighted work called
            <a href="http://www.goodreads.com/book/show/1029651.Avenger_" target="_blank">Avenger</a>,
            to which I make no assertion of ownership. The authors are
            <a href="http://www.goodreads.com/author/show/40911.Mark_Smith" target="_blank">Mark Smith</a>
            and Jamie Thompson. While the software portions of the project were written by myself, the setting,
            fiction and illustrations are intellectual property of their respective copyright
            holders. I have duplicated these elements as part of the project on the basis that the book is
            relatively obscure and long out of print (the "Abandonware" argument).
            This is obviously a complete infringement of copyright,
            however I'm hoping that the copyright holder(s) will forgive me on the following basis:</p>
            <ol>
                <li>This project is entirely noncommercial in nature;</li>
                <li>I haven't advertised or promoted it anywhere;</li>
                <li>It was created with the intent of preserving this work for future audiences;</li>
                <li>It was undertaken as a learning activity.</li>
            </ol>
            <p>Doesn't really count as "fair use", but hope springs eternal eh?</p>
            <p>The copyright holder needs only to send a request to <a href="mailto:grandmaster@ropable.com">grandmaster@ropable.com</a>,
            and I will remove the application and project from public view.</p>
        </div>
    </div>
    </div>
</div>
