<div class="container">
    <ng-include src="'partials/navbar.html'"></ng-include>
    <div class="row pagearea">
    <div class="row-fluid">
        <div class="span12">
            <h1>BACKGROUND</h1>
            <img src="img/waytiger1-map.jpg" width="33%" class="img-polaroid pull-right"/>
            <p>On the magical world of Orb, alone in a sea that the people of the Manmarch call
            Endless, lies the mystical Island of Tranquil Dreams.</p>
            <p>Many years have passed since the time when, as an infant, you first saw its golden
            shores and emerald rice meadows. A servant brought you, braving the distant leagues of
            the ponderous ocean from lands to which you have never returned. Your loyal servant laid
            you, an orphan, at the steps of the Temple of the Rock praying that the monks would care
            for you, for she was frail and dying of a hideous curse.</p>
            <p>Monks have lived on the island for centuries, dedicated to the worship of their God,
            Kwon, He who speaks the Holy Words of Power, Supreme Master of Unarmed Combat. They live
            only to help others resist the evil that infests the world. Seeing that you were alone
            and needed care, the monks took you in and you became an acolyte at the Temple of the
            Rock. Nothing was made of the strange birthmark, shaped like a crown which you carry on
            your thigh, though you remember that the old servant insisted that it was of mystical
            importance. Whenever you have asked about this the monks have bade you meditate and be
            patient.</p>
            <p>The most ancient and powerful of them all, Naijishi, Grandmaster of the Dawn, became
            your foster-father. He gave you guidance and training in the calm goodness of Kwon,
            knowledge of men and their ways and how to meditate so that your mind floats free of
            your body and rides the winds in search of truth.</p>
            <p>From the age of six, however, most of your time hasbeen spent learning the Way of the
            Tiger. Now, you are a Ninja, a master of the martial arts and a deadly assassin who can
            kill the most powerful enemies unseen and unsuspected. Like a tiger, you are strong,
            stealthy, agile, patient in the stalking of prey and deadly. In the Land of Plenty and
            the Manmarch the fabled Ninja, known as the 'Men with no Shadow', are held in awe - the
            mere mention of Ninja strikes fear into people's hearts. But you are one of the few who
            worship Kwon and follow the Way of the Tiger. You use your skill as a bringer of death
            to rid the world of evil-doers.</p>
            <p>At an early age you hung by the hands for hours on end from the branches of trees to
            strengthen your arms. You ran for miles, your light-footed speed enough to keep a thirty
            foot ribbon trailing above the ground. You trod tightropes, as agile as a monkey. Now
            you swim like a fish and leap like a tiger, you move like the whisper of the breeze and
            glide through the blackest night, like a shade. Before he died Naijishi taught you the
            Ninja's Covenant.</p>
            <div class="well">
                <strong>NINJA NO CHIGIRI</strong><br>
                'I will vanish into the night; change my body to wood or stone; sink into the earth
                and walk through walls and locked doors. I will be killed many times, yet will not
                die; change my face and become invisible, able to walk among men without being seen.'
            </div>
            <p>It was after your foster-father, Naijishi's death that you began to live the words of
            the Covenant. A man came to the island, Yaemon, Grandmaster of Flame. Using borrowed
            sorcery he tricked the monks into believing that he was a worshipper of Kwon from the
            Greater Continent. He was indeed a monk but he worshipped Kwon’s twisted brother, Vile,
            who helps the powerful to subdue the weak, and wicked men to rule fools. Yaemon slew
            Naijishi - no one could match him in unarmed combat and he stole the Scrolls of Kettsuin
            from the Temple. Once more you knew the pain of loss for you had loved Naijishi as a
            father. You swore an oath to Kwon that one day you would avenge his death. You have
            honed your skills helping the downtrodden in the Land of Plenty but now the time has
            come to prove yourself to your brother monks at the Temple of the Rock.</p>
        </div>
    </div>
    </div>
</div>
