<h4>Character sheet</h4>
<p ng-show="gameState.cheatMode" class="text-error">CHEAT MODE</p>
<p>Endurance: {{gameState.endurance}}</p>
Combat ratings:
<ul>
    <li>Punch: {{gameState.punch}}</li>
    <li>Kick: {{gameState.kick}}</li>
    <li>Throw: {{gameState.throw}}</li>
    <li>Fate: {{gameState.fate}}</li>
</ul>
<p>Inner Force: {{gameState.innerForce}}</p>
<p>Shuriken: {{gameState.shuriken}}</p>
<div ng-show="gameState.items">
    Items:
    <ul>
        <li ng-repeat="item in gameState.items">
        <a href="" data-toggle="tooltip" title="{{item.desc}}">{{item.name}}</a>
        </li>
    </ul>
</div>
<div ng-show="gameState.skills">
Skills:
    <ul>
        <li ng-repeat="skill in gameState.skills">
        <a href="" data-toggle="tooltip" title="{{skill.desc}}">{{skill.name}}</a>
        </li>
    </ul>
</div>
<div ng-show="gameState.notes">
    Notes:
    <ul>
        <li ng-repeat="note in gameState.notes">{{note.name}}
        </li>
    </ul>
</div>
