<div class="container">
    <ng-include src="'partials/navbar.html'"></ng-include>
    <div class="row pagearea">
    <div class="row-fluid">
        <div class="span12">
            <h1>INSTRUCTIONS</h1>
            <p>This is a choose-your-own-adventure story. Click on hyperlinks within the story text
            to select an option.</p>
            <h4>Combat</h4>
            <p>As a Master of Taijutsu, the Ninja’s art of unarmed combat, you have four main ways
            of fighting. Throwing Shuriken, kicks, punches or throws. You will be told when you can
            use Shuriken.</p>
            <p>In general it will be harder to hit an opponent when kicking but a kick will do more
            damage. A throw, if successful, will allow you to follow up with a possible ‘killing
            blow’, but if you fail a throw your defence against an opponent will be lower, as you
            are open to attack. Whenever you are in a combat you will be asked which type of attack
            you wish to make.</p>
            <h4>Modifiers</h4>
            <p>The punch, kick and throw modifers denote permanent bonuses (or penalties) to your
            chances to attack opponents.
            <h4>Endurance</h4>
            <p>You begin the game with 20 Endurance. If you reach 0 Endurance or less, you are dead
            and your adventure ends.</p>
            <h4>The Block</h4>
            <p>As a Ninja, a master of Taijutsu, you have the ability to block or parry incoming
            blows with various parts of your body, often your forearms. For this purpose, thin
            lightweight iron rods have been sewn into your sleeves enabling you to block even swords
            and other weapons. During combat, if you have been hit, you may try to block the blow
            and take no damage.</p>
            <p>Note that taking the time to block will render your next attack less effectual, and
            that some attacks cannot be blocked.</p>
            <h4>Inner Force</h4>
            <p>Through meditation and rigrous training you have mastered the ability to unleash
            spiritual or Inner power through your body in the same way as the martial arts experts
            of today break blocks of wood and bricks. In any combat, before you determine if you
            will hit or miss an opponent, you may choose to use Inner Force. If you do, deduct one
            point from your Inner Force score. This is used up whether or not you succeed in
            striking your opponent. If you are successful, however, double the score you roll when
            determining the amount of damage you inflict. When your Inner Force is reduced to 0,
            you may no longer use Inner Force. So use it wisely! You begin the game with 5 points of
            Inner Force.</p>
            <h4>Fate</h4>
            <p>Luck plays its part and the goddess Fate has great power on the world of Orb.
            Whenever you are asked to make a Fate Roll, roll two dice and add or subtract your Fate
            Modifier. If the score is 7-12, you are lucky and Fate has smiled on you. If the score
            is 2-6, you are unlucky and Fate has turned her back on you. You begin your adventure
            with a Fate Modifier of 0.</p>
            <h4>Skills</h4>
            <p>You have been trained in ninjitsu all of your life. Your senses of smell, sight and
            hearing have been honed to almost superhuman effectiveness. You are well versed in
            woodcraft, able to track like a bloodhound, and to cover your own tracks. Your knowledge
            of plants and herb lore enables you to live off the land. You are at the peak of physical
            fitness, able to run up to 50 miles a day and swim like a fish. Your training included
            horsemanship, a little ventriloquism, meditation, the ability to hold yourself absolutely
            still for hours on end, perfecting your balance, and ‘The Seven Ways of Going’ or
            disguise. The latter skill involves comprehensive training so that you can perform as a
            minstrel, for instance, if this disguise is used. However, a major part of this training
            has been stealth, hiding in shadows, moving silently, and, to breathe as quietly as
            possible, enabling you to move about unseen and unheard. You begin the game with these
            skills.</p>
            <p>There are nine other skills. One of these, Shurikenjitsu, is always taught to a Ninja
            in training. This you must take, but you may then choose three other skills from the
            remaining eight at the start of your adventure.</p>
            <h4>Tools</h4>
            <p>As well as any equipment maytake depending on your skills, as a Ninja you will have
            certain tools with you from the beginning of your adventure. These are noted on your
            character sheet.</p>
        </div>
    </div>
    </div>
</div>
