<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <a class="brand" href="/">Avenger!</a>
        <ul class="nav">
            <li><a href="#/new-game">New game</a></li>
            <li ng-show="gameState.inProgress"><a href="#/story">Current game</a></li>
            <!--<li><a href="#">Save</a></li>
            <li><a href="#">Load</a></li>-->
            <li><a href="#/background">Background</a></li>
            <li><a href="#/instructions">Instructions</a></li>
        </ul>
    </div>
</div>
