<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <a class="brand" href="#/title">Avenger!</a>
        <ul class="nav">
            <li><a href="#/new-game">New game</a></li>
            <li ng-show="gameState.inProgress"><a href="#/story">Current game</a></li>
            <li><a href="#/background">Story background</a></li>
            <li><a href="#/instructions">Instructions</a></li>
            <li><a href="#/about">About project</a></li>
        </ul>
    </div>
</div>
<br>
