<div class="container">
    <h1>New game</h1>
    <p>You begin the game with standard equipment and training.</p>
    <p>Please choose three additional skills:</p>
    <form name="skillsForm" ng-submit="submit()" ng-controller="NewGameCtrl">
        <label ng-repeat="skill in skills" class="checkbox">
            <input type="checkbox" ng-model="skill">
            {{skill.name}}
        </label>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="update()">Save and begin</button>
        </div>
    </form>
</div>
<script>
    $(function (){
        var max = 3;
        var checkboxes = $('input[type="checkbox"]');
        checkboxes.change(function(){
            var current = checkboxes.filter(':checked').length;
            checkboxes.filter(':not(:checked)').prop('disabled', current >= max);
        });
    });
</script>
