<div class="container" ng-controller="NewGameCtrl">
    <h1>New game</h1>
    <p>You begin the game with standard equipment and training.</p>
    <p>Please choose three additional skills:</p>
    <pre>{{chosenSkills}}</pre>
    <form name="skillsForm">
        <label ng-repeat="skill in skills" class="checkbox">
            <input type="checkbox" value="{{skill.name}}"
                ng-checked="isSelected(skill)" ng-click="selectSkill($event, skill)">
                <a href="" data-toggle="tooltip" title="{{skill.desc}}">{{skill.name}}</a>
        </label>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="update()">Begin</button>
        </div>
    </form>
</div>
