<div class="container" ng-controller="StoryCtrl">
    <ng-include src="'partials/navbar.html'"></ng-include>
    <div class="row">
        <div class="span2 charsheet">
            <ng-include src="'partials/charsheet.html'"></ng-include>
        </div>
        <div class="span8">
            <div class="row">
                <br>
                <img ng-show="gameState.hasEntryImage" src="img/{{gameState.entry.image}}" class="pull-right"/>
                <div ng-bind-html-unsafe="gameState.entryText"></div>
            </div>
            <div class="row">
                <!-- This is where attack and response text is displayed -->
            </div>
            <div class="row">
                <p>Will you:</p>
                <ul>
                    <li ng-repeat="option in gameState.entry.options"><a href="" ng-click="chooseEntry(option.entry)">{{option.text}}</a></li>
                </ul>
            </div>
        </div>
        <div class="span2">
            <h4>Opponents</h4>
            <div ng-repeat="o in gameState.currentOpponents">
                {{o.name}}
            </div>
        </div>
    </div>
</div>
