<div class="jumbotron masthead" ng-controller="GameStateCtrl">
    <div class="container">
        <p><img src="img/tiger.png" /></p>
        <h2>The Way of the Tiger</h2>
        <h1>Avenger!</h1>
        <h3>By Mark Smith and Jamie Thomson</h3>
        <h3>Illustrations by Bob Harvey</h3>
        <ul class="masthead-links">
            <li><a href="#/new-game">Start a new game</a></li>
            <li ng-show="gameState.inProgress"><a href="#/story">Continue game</a></li>
            <li><a href="#/background">Background</a></li>
            <li><a href="#/instructions">Instructions</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="https://bitbucket.org/ropable/way-of-the-tiger-1-avenger" target="_blank">Source</a></li>
        </ul>
    </div>
</div>
