<div class="jumbotron masthead" ng-controller="TitleCtrl">
    <div class="container">
        <h2>The Way of the Tiger</h2>
        <p><img src="img/tiger.png" /></p>
        <h1>Avenger!</h1>
        <h2>By Mark Smith and Jamie Thomson</h2>
        <h3>Illustrations by Bob Harvey</h3>
        <ul class="masthead-links">
            <li><a href="#/new-game">Start a new game</a></li>
            <li ng-show="gameState.inProgress"><a href="#/story">Continue game</a></li>
            <li><a href="#/background">Background</a></li>
            <li>Instructions</li>
            <li>Copyright/About</li>
        </ul>
    </div>
</div>
